.demoBlock {
	width: 48.6%;
	height: 330px;
	margin: 5px 15px 5px 0;
	background-color: rgb(0 0 0 / 27%);
	border-radius: 9px;
	opacity: 0%; 
	animation: 700ms start_cards forwards;
}

.painel_border__CodePost {
	background-color: transparent;
	border-radius: 9px;
	border: 2px solid;
	height: 100%;
	margin-bottom: 26px;
}

.contentSendFor {
	display: flex;
	align-items: center;
	padding: 10px 0 10px 10px;
}

.contentSendFor__perfil_img {
	width: 30px;
	border-radius: 20px;
}

.contentSendFor__perfil_name {
	margin-left: 0.6em;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

.contentSendFor__timePost {
	color: white;
	font-size: 0.8em;
    width: 120px;
}
.contentSendFor__timePost::before {
	content: "-";
	margin-right: 10px;
	margin-left: 12px;
}

.box_bookmark {
	width: 70%; 
	height: 100%; 
	display: flex;
	justify-content: flex-end;
}

.contentSendFor__iconBookmark {
    display: none;
}

.demoBlock:hover .contentSendFor__iconBookmark {
/*	position: relative;*/
	display: inline-block;
	margin-right: 5%;
/*	left: 52%;*/
	transform: scale(1.4);   
}

.contentSendFor__iconBookmark:hover {
	cursor: pointer;
	background-color: rgb(255 255 255 / 10%);
	border-radius: 7px;
}

.Info_project_Community {
	margin-top: 10px;
	margin-left: 25px;
}

.descriptionProject {
    color: white;
    font-family: 'Abel', sans-serif;
    margin-bottom: 15px;
    max-width: 97%;
    overflow-y: hidden;
    max-height: 23px;
}

.box_codePreview_FeedBacks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	width: 97%;
}

.field_feedbacks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 214px;
    text-align: center;
}

.field_feedbacks__Off {
	display: none;
}

.field_feedbacks__reports {
	margin-bottom: 25px;
}

.field_feedbacks__reports:hover {
	cursor: pointer;
	background-color: rgb(255 255 255 / 9%);
	border-radius: 7px;
}

.Text_ReportPost {
	color: white;
	font-size: 0.8em;
}

.icons_feedback {
	margin-bottom: 4px;
}

.num_feedbacks {
	color: white;
}

.field_feedbacks__commits {
	margin-bottom: 8px;
}

.field_feedbacks__commits:hover {
	cursor: pointer;
	background-color: rgb(255 255 255 / 9%);
	border-radius: 7px;
}

.field_feedbacks__likes:hover {
	cursor: pointer;
	background-color: rgb(255 255 255 / 9%);
	border-radius: 7px;
}

.painel_code__codePreview {
	position: relative;
	left: 3%;
	background-color: #000E1E;
	box-shadow: 5px 5px 30px black;
	border-radius: 9px;
	width: 89%;
	height: 67%;
	transition: 600ms;
	overflow: hidden;
}

.painel_code__codePreview:hover {
	cursor: pointer;
    height: 90%;
}

.painel_code__codePreview__NoFeed {
    left: 1.9%;
    width: 94%;
}

.box__buttons_decoration {
	display: flex;
	align-items: center;
	margin: 1% 0% 1% 0%;
	background-color: transparent;
	width: 100%;
	height: 13%;
}

.buttons__decoration {
	border-radius: 100%;
	margin-left: 2.7%;
	width: 10px;
	height: 10px;
}

.button__decoration__red {
	background-color: #F54646;
}

.button__decoration__yellow {
	background-color: #F1D235;
	margin-left: 1%;
}

.button__decoration__green {
	background-color: #49FB46;
	margin-left: 1%;
}

.label_language {
	display: flex;
	justify-content: flex-end;
	width: 86%;
}

.label_tagCode {
	padding: 3px 10px 3px 10px;
	border-radius: 13px;
	background-color: #145d4d;
	color: white;
}

.campo__code {
	position: relative;
	outline:none;
	border: none;
	background-color: transparent;
	color: #D8D8D8;
	width: 93%;
	height: 80%;
	font-size: 1.1em;
	margin-top: 3px;
}

@keyframes start_cards {
	to { opacity: 100%; }
}