.configs_preview {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
}

.myProject__titleYourProject {
	margin-bottom: 15px;
	color: white;
	font-family: 'Abel', sans-serif;
}

.myProject__name {
	background-color: rgba(255, 255, 255, 7%);
	outline:none;
	border: none;
	border-radius: 8px;
	margin-bottom: 16px;
	padding-top: 14px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 14px;
	font-size: 1.1em;
	color: white;
}

.myProject__description {
	background-color: rgba(255, 255, 255, 7%);
	outline:none;
	color: white;
	padding-top: 7px;
	padding-left: 8px;
	font-size: 1.1em;
	border: none;
	border-radius: 8px;
	margin-bottom: 40px;
}

.personalization__title {
	color: white;
	margin-bottom: 15px;
	font-family: 'Abel', sans-serif;
}

.personalization__selectorLanguagem {
	background-color: rgba(255, 255, 255, 7%);
	border: none;
	border-radius: 8px;
	color: white;
	padding: 14px 16px 16px 14px;
	margin-bottom: 15px;
}

.personalization__selectorColor {
	background-color: transparent;
	outline:none;
	border: 1px solid #484848;
	width: 98%;
	height: 8.3%;
	border-radius: 8px;
	margin-bottom: 27px;
}

#select_op {
	background-color: #484848;
}

.personalization__buttonSave {
	background-color: #5081FB;
	font-weight: bold;
	color: #E7E7E7;
	border: none;
	border-radius: 8px;
	height: 8%;
	transition: .2s;
}

.personalization__buttonSave:hover {
	cursor: pointer;
	color: white;
	background-color: #1D77D6;
	box-shadow: 1px 1px 15px #218BBD;
}