html {
	max-width: 1366px;
    background: linear-gradient(270deg, #060525, #060525, #07061b, #07061b);
}

::selection {
  background: #2C0D96;
  color: white;
}

#tagAheader {
	width: 130px;
	margin-left: 2%;
}

.top__pag {
	display: flex;
	justify-content: space-between;
	height: 4rem;
  width: auto;
	padding-top: 0px;
	margin-bottom: 25px;
	border-bottom: 1px solid #130730;
}

.top__logo__img {
	position: relative;
	width: 100%;
	bottom: 13%;
	overflow: hidden;
	margin-left: 2.7%;
	margin-right: 2.8%;
	transform: scale(1.2);
}

.top__search {
	display: none;
	width: 49.6%;
	background: rgba(255, 255, 255, 5%);
	border-radius: 6px;
	margin-top: 10px;
	margin-right: 1.9%;
	margin-bottom: 10px;
	color: white;
	outline: none;
	border: none;
	font-size: 1em;
	padding-left: 17px;
	padding-right: 17px;
}

::-webkit-input-placeholder {
   color: #A9A9A9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A9A9A9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A9A9A9;  
}

:-ms-input-placeholder {  
   color: #A9A9A9;  
}

/*-----------------------------------------------------------------*/

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .70;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

/*--------------------------------------------------------------------*/

.infoField {
	display: flex;
	align-items: center;
	margin-right: 2.2%;
}

#infoField__icon_notification {
	margin-right: 20px;
}

#infoField__icon_notification:hover {
	cursor: pointer;
}

#infoField__icon_info:hover{
	cursor: pointer;
}