.inSroll {
	position: fixed;
	width: 100%;
	top: 0%;
}

#tagAheaderFloat {
	width: 130px;
	margin-left: 2%;
}

.top__pagFloat {
    display: flex;
    background-color: #07061b; 
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 1px solid #130730;
    box-shadow: 5px 5px 10px #120831;
}

.top__logo__imgFloat {
    position: relative;
    width: 100%;
    bottom: 13%;
    overflow: hidden;
    margin-left: 2.7%;
    margin-right: 2.8%;
    transform: scale(1.2);
}

.top__searchFloat {
	position: relative;
	width: 49.6%;
	background: rgba(255, 255, 255, 4%);
	border-radius: 6px;
	margin-top: 10px;
	margin-right: 1.9%;
	margin-bottom: 10px;
	color: white;
	outline: none;
	border: none;
	font-size: 1em;
	padding-left: 17px;
	padding-right: 17px;
}

.campo__perfilFloat {
	display: flex;
	align-items: center;
	margin-right: 2.2%;
}