.container_menu {
	display: none;
	flex-direction: column;
	margin-left: 7%;
    font-family: 'Abel', sans-serif;
}

.title_nav {
	color: white;
	margin-bottom: 20px;
    font-family: 'Abel', sans-serif;
}

.buttons_nav {
	display: flex;
	margin-bottom: 13px;
	align-items: center;
	width: 240px;
	transition: 500ms;
}

.buttons_nav:hover{
	cursor: pointer;
	background-color: rgb(128 128 128 / 7%);
	border-radius: 9px;
}

.block_icon__active {
	background-color: #5081FB;
	width: 47px;
	height: 47px;
	border-radius: 14px;
}

.block_icon {
	background-color: #0e2c78;
	width: 47px;
	height: 47px;
	border-radius: 14px;
	opacity: 50%;
}

.block_icon_iconPosition {
	position: relative;
	top: 25%;
	left: 25%;
}

.name_codeEditor {
	margin-left: 16px;
	color: white;
	text-decoration: none;
}

.block_icon_img_community {
	position: relative;
	top: 25%;
	left: 25%;
}

.name_community {
	margin-left: 16px;
	color: white;
	text-decoration: none;
}

a {
	text-decoration: none;
}