.section_changePassword {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 55%;
	margin-top: 170px;
}

.box__actualPassword {
	margin: 15px 0px;
}

.titles_changePassword {
	color: white;
	font-size: 1.3em;
	font-family: 'Abel', sans-serif;
	margin-bottom: 15px;
}

.input_changePassword {
	background-color: rgb(106 105 204 / 2%);
	border: none;
	border-bottom: 3px solid #141A99;
	border-radius: 8px;
	color: white;
	outline: none;
	padding: 0px 10px 0px 10px;
	width: 320px;
	height: 32px;
}

.input_changePassword:focus {
	border-bottom: 3px solid #114EE5;
}

.box__newPassword {
	display: flex;
	justify-content: space-between;
	width: 95%;
}

#btn_changePassword {
	border: none;
	outline: none;
	background-color: #5447DC;
	color: white;
	font-size: 1.3em;
	width: 50%;
	height: 40px;
	margin-top: 35px;
	margin-left: 25%;
	border-radius: 14px;
	transition: 700ms;
}

#btn_changePassword:hover {
	cursor: pointer;
	background-color: #271C9B;
}