.body {
	overflow: hidden;
	display: flex;
}

.container_background {
	position: absolute;
/*	min-width: 85.4rem;
	min-height: 44rem;*/
	min-width: 100vw;
	min-height: 100vh;
	display: grid;
	overflow: hidden;
	background: linear-gradient(283deg, #051025, #051025, #050A25, #050725, #070525, #070525);
	grid-template-columns: 65% 35%;
	grid-template-rows: 100vh;
}

.box__titleSlogan {
	grid-column: 1/2;
	grid-row: 1/2;
}

.box__Register {
	background-color: ;
	grid-column: 2/3;
	grid-row: 1/2;
}

/*-------------------------------------------------------------------*/

.container_background__screenTwo {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	display: grid;
	overflow: hidden;
	transform: translateX(100%);
	background: linear-gradient(81deg, #051025, #051025, #050A25, #050725, #070525, #070525);
	grid-template-columns: 35% 65%;
	grid-template-rows: 100vh;
}

.box__Login {
	background-color: ;
	grid-column: 1/2;
	grid-row: 1/2;
}

.container__codeLayers {
	position: relative;
	grid-column: 2/3;
	grid-row: 1/2;	
}

/*---------------------------------------------------------*/

::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #343434;
}