.communityPag {
	display: flex;
	flex-wrap: wrap;
}

.box__noContent {
	width: 100%;
	text-align: center;
	margin-top: 90px;
}

.noContent__img {
	position: relative;
	right: 1.4%;
	width: 260px;
	margin-bottom: 20px;
}

.noContent__text {
	color: white;
	font-size: 1.6em;
    font-family: 'Abel', sans-serif;
}

.tituloProject {
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	font-family: 'Abel', sans-serif;
	margin-bottom: 15px;
}
