.container {
	display: grid;
	height: auto;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto auto;
}

.container_menu {
	background-color: ;
	grid-column: 1/2;
	grid-row: 1/3;
}

.box__highLightbyNameUser {
	background-color: ;
	grid-column: 2/3;
	grid-row: 1/2;
}

.myPosts {
	background-color: ;
	grid-column: 2/3;
	grid-row: 2/3;
}

::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #343434;
}
