@media screen and (max-width: 1344px) {
    .demoBlock {
	    width: 48.3%;
	}
}

@media screen and (max-width: 1150px) {
    .demoBlock {
	    width: 80%;
	}

	.myPosts {
		display: flex;
		flex-wrap: wrap;
		margin-left: 10%;
	}
}

@media screen and (max-width: 960px) {
    .demoBlock {
	    width: 80%;
	}

	.myPosts {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0%;
	}
}

@media screen and (max-width: 900px) {
    .demoBlock {
	    width: 100%;
	}
}

@media screen and (max-width: 740px) {
    .demoBlock {
	    width: 100%;
	}

	.myPosts {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0%;
	}

	.button_codeEditor .button_community{
	    width: 95%;
    }

	.name_codeEditor {
        display: none;
	}

	.name_community {
        display: none;
	}

	.container {
		grid-template-columns: 10% 90%;
	}
}

@media screen and (max-width: 605px) {
    .demoBlock {
	    width: 100%;
	}

	.myPosts {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0%;
	}

	.button_codeEditor .button_community{
	    width: 95%;
    }

	.name_codeEditor {
        display: none;
	}

	.name_community {
        display: none;
	}

	.container {
		grid-template-columns: 12% 88%;
	}
}