.background__box_alert__NoLogged {
    position: absolute;
	background-color: rgb(0 0 0 / 66%);
	width: 100vw;
	height: 100vh;
	top: -16%;
}

.box_alert__NoLogged {
	display: flex;
	position: absolute;
	justify-content: space-around;
	align-items: center;
	width: 60vw;
	height: 50vh;
	background-color: #728BE8;
	border-radius: 16px;
	box-shadow: 5px 5px 30px black;
	overflow-y: hidden;
	left: 20%;
	top: 20%;
}

.iconClose__boxAlert__NoLogged {
	position: absolute;
	width: 50px;
	transform: rotate(45deg);
	top: 1%;
	left: 1%;
}

.iconClose__boxAlert__NoLogged:hover {
    cursor: pointer;
}

.title_alert__NoLogged {
	color: white;
    font-family: 'Abel', sans-serif;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 40px;
}

.box__options {
	display: flex;
	margin-top: 80px;
	height: 40px;
	justify-content: space-around;
	align-items: center;
}

.SignUp_SignIn__box__options {
	border: none;
	width: 140px;
	height: 40px;
	font-size: 1.4em;
	border-radius: 14px;
	color: white;
	outline: none;
	box-shadow: 5px 5px 30px rgb(0 0 0 / 30%);
}

.img_alert__NoLogged{
	animation: 10s scaredd infinite alternate;
}

@keyframes scaredd {
	from {
		transform: scale(0.9);
	}
}