.configs_preview {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-left: 2%;
	margin-right: 2%;
}

.myProject{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.myProject__titleYourProject {
	margin-bottom: 15px;
	color: white;
	font-family: 'Abel', sans-serif;
	transform: translateX(60%);
    animation: 600ms start_configPreview forwards;
}

.myProject__name {
	background-color: rgba(255, 255, 255, 4%);
	width: 92%;
	outline:none;
	border: none;
	border-radius: 8px;
	margin-bottom: 16px;
	padding-top: 14px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 14px;
	font-size: 1.1em;
	color: white;
	transform: translateX(100%);
    animation: 600ms start_configPreview forwards 200ms;
}

.myProject__description {
	background-color: rgba(255, 255, 255, 4%);
	width: 96%;
	outline:none;
	color: white;
	padding-top: 7px;
	padding-left: 8px;
	font-size: 1.1em;
	border: none;
	border-radius: 8px;
	margin-bottom: 19px;
	transform: translateX(100%);
    animation: 600ms start_configPreview forwards 300ms;
}

.personalization {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.personalization__title {
	color: white;
	margin-bottom: 15px;
	font-family: 'Abel', sans-serif;
	transform: translateX(100%);
    animation: 600ms start_configPreview forwards 400ms;
}

.personalization__selectorLanguagem {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../../assets/icons/expand_more_white_24dp.svg) no-repeat center right #0B092E;
    background-position: 98% 50%;
    outline: none;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 14px 16px 16px 14px;
	margin-bottom: 15px;
	transform: translateX(100%);
    animation: 600ms start_configPreview forwards 500ms;
}

.personalization__selectorLanguagem:hover {
    outline: none;
}

.personalization__selectorColor {
	background-color: transparent;
	outline:none;
	border: 1px solid #484848;
	width: 98%;
	height: 50px;
	border-radius: 8px;
	margin-bottom: 12px;
	transform: translateX(100%);
    animation: 600ms start_configPreview forwards 600ms;
}

#select_op {
	background-color: transparent;
}

.RGBmode {
	display: flex;
	align-items: center;
	margin-left: 15px;
	margin-bottom: 23px;
	transform: translateX(101%);
    animation: 600ms start_configPreview forwards 700ms;
}

.modoRGB__icon {
	margin-right: 9px;
	transform: scale(1.2);
}

.modoRGB__icon:hover {
	cursor: pointer;
}

.modoRGB__text {
	color: white;
    font-family: 'Abel', sans-serif;
}

.privacyMode {
	display: flex;
	align-items: center;
	margin-left: 12px;
	margin-bottom: 15px;
	transform: translateX(101%);
    animation: 600ms start_configPreview forwards 800ms;
}

.block_checkbox {
	border: 1px solid white;
    background: url(../../assets/icons/done_white_24dp.svg) no-repeat center;
	border-radius: 8px;	
	height: 23px;
	width: 23px;
    padding: 3px 3px 3px 3px;
    margin-right: 10px;
    cursor: pointer;
    transition: 300ms;
}

.block_checkbox:hover {
    border-style: dotted;
}

.block_checkbox__Checked {
    background: url(../../assets/icons/done_black_24dp.svg) no-repeat center white;
}

.privacyMode__icon {
	transform: scale(1.1);
}

.saveOptions {
	display: flex;
	height: 50px;
	margin-bottom: 3px;
}

.box__button_Export {
	display: flex;
	align-items: center;
	background: transparent;
	font-weight: bold;
	color: #E7E7E7;
	border: none;
	border-top-left-radius: 11px;
	border-bottom-right-radius: 11px;
	width: 45%;
	height: 100%;
	margin-left: 2%;
	margin-bottom: 20px;
	border: 1px solid #343434;
	transition: .2s;
	transform: translateX(250%);
    animation: 600ms start_configPreview forwards 900ms;
}

.text_export {
	margin-left: 10px;
	color: white;
}

.button_Export {
	margin-left: 15px;
	margin-right: 10px;
	transform: scale(1.3);
}

.box__button_Export:hover {
	cursor: pointer;
	background-color: #221B91;
	border: 1px solid #221B91;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 11px;
	border-bottom-left-radius: 11px;
}

.personalization__buttonSave {
	outline:none;
	background: url(../../assets/img/Purple-Background.jpg);
	background-position: 115% 0%;
	background-repeat: no-repeat;
	background-color: #5081FB;
	font-weight: bold;
	color: #E7E7E7;
	border: none;
	border-top-right-radius: 11px;
	border-bottom-left-radius: 11px;
	height: 100%;
	width: 100%;
	transition: .2s;
	transform: translateX(101%);
    animation: 600ms start_configPreview forwards 1000ms;
}

.loading-upload {
	transition: 7s !important;
	background-position: 0% 0% !important;
}

.personalization__buttonSave:hover {
	cursor: pointer;
	color: white;
	background-color: #1D77D6;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 11px;
	border-bottom-right-radius: 11px;
}

@keyframes start_configPreview {
	to {
		transform: translateX(0%);
	}
}