/*body {
  --borderHover: #5E02FF;
}*/

.hljs {
  min-height: 230px;
}

.painel__border {
	overflow: hidden;
	background-color: transparent;
	border-radius: 9px;
	border: 3px solid #3A1AB2;
	min-height: 402px;
	margin-bottom: 30px;
	opacity: 0%;
	transition: 2s;
	animation: 700ms start_border forwards;
}

.painel__code {
    position: relative;
    left: 5%;
    top: 1em;
    background-color: #000E1E;
    box-shadow: 5px 5px 30px #04010F;
    padding-bottom: 7px;
    border-radius: 9px;
    width: 90%;
    min-height: 22.0em;
    margin-bottom: 36px;
    transition: 900ms;
    animation: 1s start_code forwards;
}

.painel__border:hover {
	box-shadow: 0px 0px 20px var(--borderHover), inset 0px 0px 20px var(--borderHover);
}

.box__buttons__decoration {
	display: flex;
	align-items: center;
	margin: 1% 0 1.9% 2.7%;
	background-color: transparent;
	width: 100%;
	height: 11%;
}

.buttons__decoration {
	border-radius: 100%;
	margin-top: 2%;
	width: 12px;
	height: 13px;
}

.button__decoration__red {
	background-color: #F54646;
}

.button__decoration__yellow {
	background-color: #F1D235;
	margin-left: 1%;
}

.button__decoration__green {
	background-color: #49FB46;
	margin-left: 1%;
}

.campo__code {
	position: relative;
	outline:none;
	border: none;
	background-color: transparent;
	width: 96%;
	height: 80%;
	font-size: 1.1em;
	margin-top: 6px;
}

.button__viewHightLight {
	background-color: rgba(255, 255, 255, 2%);
	border-radius: 8px;
	color: white;
	border: none;
	width: 100%;
	height: 8%;
}

.button__viewHightLight__disable {
	display: none;
}

::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #343434;
}

.alert__successfulUpload {
	position: absolute;
	background-color: transparent;
	border: 2px #0F11A7 solid;
	border-radius: 10px;
	text-align: center;
	width: 30%;
	height: 8vh;
	top: 85%;
	left: 36%;
	transform: scaleX(0.2);
	animation: 500ms start_alertSuccessful, 500ms scale_alertSuccessful forwards 500ms, 300ms exit forwards 3000ms;
}

.text__successfulUpload {
	margin-top: 4.2%;
	font-family: 'Abel', sans-serif;
	font-size: 1.3em;
	color: white;
	opacity: 0%;
	animation: 200ms start_txt forwards 800ms;
}

@keyframes start_border {
	to {
		opacity: 100%;
	}
}

@keyframes start_code {
	from {
		top: -10em;
	}
}

@keyframes start_alertSuccessful {
	from {
		top: 110%;
	}
}

@keyframes scale_alertSuccessful {
	to {
		transform: scaleX(1.0);
		box-shadow: 1px 1px 20px #0F11A7;
	}
}

@keyframes start_txt {
	to {
		opacity: 100%;
	}
}

@keyframes exit {
	to {
		opacity: 0%;
	}
}